//Nav-Bar Tweaks
.side-bar {
    display: flex;
      
    @include mq(md) {
        width: $nav-width-md;
        width: calc((100% - #{$nav-width + $content-width}) / 50 + #{$nav-width});
    }
  
    @include mq(lg) {
        min-width: $nav-width;
        width: calc((100% - #{$nav-width + $content-width}) / 50 + #{$nav-width});
    }
}