//Nav-Bar Tweaks
.site-nav {
    @include mq(lg) {
        width: calc(50%);
        min-width: $nav-width;
    }
}
.site-header { 
    @include mq(lg) {
        width: calc(50%);
        min-width: $nav-width;
    }
}