// Custom colours
$white: #ffffff;
$grey-dk-000: #959396;
$grey-dk-100: #414141;
$grey-dk-200: #44434d;
$grey-dk-250: #302d36;
$grey-dk-300: #27262b;
$grey-lt-000: #f5f6fa;
$grey-lt-100: #eeebee;
$grey-lt-200: #ecebed;
$grey-lt-300: #e6e1e8;
$purple-000: #7253ed;
$purple-100: #5e41d0;
$purple-200: #4e26af;
$purple-300: #381885;
$blue-000: #56CAE3;
$blue-100: #44a5bb;
$blue-200: #004555;
$blue-300: #00252e;
$green-000: #41d693;
$green-100: #11b584;
$green-200: #009c7b;
$green-300: #026e57;
$yellow-000: #ffeb82;
$yellow-100: #fadf50;
$yellow-200: #f7d12e;
$yellow-300: #e7af06;
$red-000: #f77e7e;
$red-100: #f96e65;
$red-200: #e94c4c;
$red-300: #dd2e2e;

// Scheme
$color-scheme: light;
$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$link-color: $blue-000;
$nav-child-link-color: $grey-dk-300;
$sidebar-color: $grey-lt-000;
$base-button-color: #f7f7f7;
$btn-primary-color: $blue-000;
$code-background-color: $white;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-100;
